* {
    margin: 0;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

/* ========Header Section======== */
#header{
    background-color: #1f2937;
    color: #f9faf8;
    padding: 50px 12.5%;
}

.header-links{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.nav-ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-ul > li {
    color: #e5e7eb;
    padding: 5px;
    margin: 2px 5px 2px 5px;
    font-size: 18px;
}

#cont-2-img{
    width: 300px;
    height: 300px;
}

.header-content{
    display: inline-flex;
    justify-content: center;
    margin: 25px 0;
    align-items: center;
}

#header-content-1{
    color: #e5e7eb;
    font-size: 48px;
    margin: 20px;
    padding: 20px;
}

#header-p-1 {
    font-size: 18px;
}

#header-content-2{
    margin: 20px;
    padding: 20px;
}

#header-button-1 {
    padding: 10px 25px;
    color: #f9faf8;
    background-color: #3882f6;
    border: 1px #3882f6;
    border-radius: 10px;
}

/* ========main-1 section======== */

#main-1{
    padding: 25px 12.5% 50px 12.5%;
}

#main-1-h2{
    padding: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.main-1-cards{
    display: flex;
    margin: 10px;
    padding: 10px;
}

.info-card-wrapper{
    margin: auto;
    width: 50%;
}

/* ======== Main 2 ======== */

#main-2 {
    padding: 75px 12.5%;
    background-color: #E5E7EB;
}

#main-2-quote {
    margin: 10px;
    padding: 10px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

#main-2-q-underline {
    margin: 10px;
    padding: 10px;
    text-align: end;
    font-size: 36px;
    font-weight: bold;
}

/* ========bottom======== */

#bottom {
    padding: 75px 12.5%;
}

#bottom-container {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 5px;
}

#bottom-content{
    margin: 15px 45px;
    padding: 15px 45px;
    color: #e5e7eb;
}

#bottom-button {
    margin: 15px 45px;
    padding: 15px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-sign-up {
    background-color: #3882f6;
    color: #e5e7eb;
    border: solid #e5e7eb 3px;
    border-radius: 5px;
    padding: 5px 20px;
}

/* ========Footer======== */

#footer {
    padding: 50px 12.5%;
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
}
